h1{
    text-align: center;
}

td,
th{
    text-align: center;
    
    border: solid black 2px;
}

.tablaDatos table{
    margin: 10 px auto;
    
}


form{
    text-align: center;
}

table{
    text-align: center;
}